@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

.fontReg{
    font-family: 'Shippori Antique B1', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    word-spacing: 0.2rem;
}

.mainTextColor{
    color: #0F2F62
}

/*navbar*/

.navbar{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    height: initial;
}
.navbarDisplay{
top: 0;
left: 0;
right: 0;
z-index: 1;
height: initial;
display:flex;
flex-direction:row;
justify-content:space-between;
padding: 1rem;
}

.logoDisplay{
    padding-top: 0;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 0;
}

.menuDisplay{
    align-self: flex-end;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding: 1rem;
}

.nav-button {
    padding: 0.5rem;
    margin-right: 1rem;
}

.nav-button:hover .current-link {
    color: #ED7B30;
    width: 4px;
    height: 4px; 
}

.nav-a {
    padding: 0;
    line-height: 1.5rem;
    letter-spacing: 1px;
    transition: all 300ms ease-in-out; 
}

.nav-a:visited {
    color: #0F2F62 
}

.nav-a:hover{
    color: #ED7B30;
}

a {
    color:#092249;
    text-decoration: none;
    text-decoration-line: none !important;
    border: 0;
    position: relative; 
}

.badge{
    font-size: .8rem;
}

/* landing page */

.landingDisplay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:150px;
}

.listContainerFather{
    display:flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin-top:150px;
}

.listContainerDisplay{
    display: flex;
    flex-direction:row;
    width: 100%;
    max-width: 1300px;
    flex-flow: wrap;
    align-items:center;
    
}

.cardMargin{
    margin-top: 20px;
    margin-bottom:20px;
    padding:0;
    max-width: 260px;
    height:500px;
}

.card{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100%;
    max-width: 260px; 
    margin-right:10px;
    margin-left:10px;
    padding:10px;
}

.itemButtons{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 2px;
    margin: 2px;
    
}